<form role="form">
    <div class="panel panel-default">
        <div class="panel-body">
            <!-- Images field -->
            <div class="form-group">
                <label class="control-label">Images</label>

                <ui-form-file-upload data-files="artistCtrl.artist.data.images" data-multiple="true"></ui-form-file-upload>
            </div>

            <!-- Artist Name field -->
            <div class="form-group" data-ng-class="{'has-error has-feedback': artistEditCtrl.artist.status.errors.name }">
                <label class="control-label" for="artistName">Artist Name</label>
                <input type="text" class="form-control" id="artistName" placeholder="Artist Name" data-ng-model="artistEditCtrl.artist.data.name" />
                <span data-ng-if="artistEditCtrl.artist.status.errors.name" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <p class="help-block" data-ng-if="artistEditCtrl.artist.status.errors.name">
                    <span class="fa fa-times-circle-o"></span>
                    {{ artistEditCtrl.artist.status.errors.name.message }}
                </p>
            </div>
        </div>
    </div>

    <div class="pull-right">
        <button type="submit" class="btn btn-primary" data-ng-click="artistEditCtrl.save()">
            <span class="fa fa-check-circle-o"></span>
            {{ artistEditCtrl.artist.isNew ? 'Create' : 'Edit' }}
        </button>
        <button type="button" class="btn btn-default" data-ng-click="artistEditCtrl.cancel()">
            <span class="fa fa-times-circle-o"></span>
            Cancel
        </button>
    </div>
</form>