/*
    Components: Content header
-------------------------------------------------
*/
.content-header {
    z-index: 100;
    color: @content-header-color;
    background: @body-bg;

    /*.box-shadow(@content-header-box-shadow);*/
    position: fixed;
    top: 0;
    left: @left-side-width;
    right: 0;
    padding: 8px 15px;

    height: @header-height;
    /*border-bottom: 1px solid darken(@sidebar-light-bg, 5%);*/
    /*border-left: 1px solid @body-bg;*/

    // Header Text
    h1 {
        margin: 0;
        font-size: 22px;
        font-weight: 900;
        display: inline-block;
        > small {
            font-size: 15px;
            display: inline-block;
            padding-left: 4px;
            font-weight: 300;
        }
    }

    .header-btns {
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 0;
        height: 100%;

        > .btn {
            vertical-align: top;
            display: inline-block;
            padding: 6px;
            margin: 3px 2px;
            border-color: darken(@sidebar-light-hover-bg, 6%);
            border-top: none;
            background-color: #ffffff;

            .border-radius(20px 20px);

            &:hover, &:focus, &:active {

            }

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .content-nav {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        height: 100%;

        > li {
            position: relative;
            height: 100%;
            float: left;
            list-style-type: none;
            border-left: 1px solid @sidebar-dark-border;

            > a {
                position: relative;
                height: 100%;
                color: @content-header-link-color;
                background: @content-header-bg;
                display: inline-block;
                padding: 8px 10px;
                vertical-align: middle;

                &:hover, &:focus {
                    color: @content-header-color;
                    background-color: darken(@content-header-bg, 2%);
                }

                > * {
                    vertical-align: middle;
                }
            }
        }
    }

    .breadcrumb {
        float: right;
        background: transparent;
        margin-top: 0px;
        margin-bottom: 0;
        font-size: 12px;
        padding: 3px 15px;
        margin-right: 70px;
        .border-radius(2px);

        > li > a {
            color: #444;
            text-decoration: none;

            > .fa, > .glyphicon, > .ion {
                margin-right: 5px;
            }

            &:hover, &:focus {
              text-decoration: underline;
            }
        }

        > li + li:before {
            content: '>\00a0';
        }
    }

    @media screen and (max-width: @screen-sm) {
        .breadcrumb {
            position: relative;
            margin-top: 5px;
            top: 0;
            right: 0;
            float: none;
            background: #efefef;
        }
    }
}

// Content header (sidebar collapsed mode)
.left-side.collapse-left {
    &+.right-side {
        .content-header {
            left: @left-side-collapsed-width;
        }
    }
}


//Control navbar scaffolding on x-small screens
@media (max-width: @screen-sm) {
    .navbar .navbar-nav > li {
        float: left;
    }
    //Dont't let links get full width
    .navbar-nav {
        margin: 0;
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
    }
    .navbar .navbar-right {
        float: right;
    }
}

// Collapse header 
@media screen and (max-width: @screen-header-collapse) {
    body.fixed {
        > .wrapper, .sidebar-offcanvas {
            margin-top: 100px!important;
        }
    }

}