/*
    Components: Content header
-------------------------------------------------
*/
.content-header {
    position: fixed;
    top: 0;
    left: @left-side-width;
    right: 0;
    z-index: 100;
    height: @header-height;
    color: @gray-darker;
    padding: floor(@grid-gutter-width / 2);
    padding-top: 10px;
    vertical-align: middle;
    white-space: nowrap;

    .header-btns {
        position: absolute;
        vertical-align: middle;
        top: 0;
        right: 15px;
        bottom: 0;

        > .btn {
            vertical-align: middle;
            margin: 0 3px;

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    > .fa {
        vertical-align: top;
        line-height: .8em;
        height: 100%;
    }

    .breadcrumb {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 16px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        background: transparent;
        margin: 0;

        > li > a {
            color: @gray-darker;
            font-weight: bold;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}

// Content header (sidebar collapsed mode)
.left-side.collapse-left {
    &+.right-side {
        .content-header {
            left: @left-side-collapsed-width;
        }
    }
}

//Control navbar scaffolding on x-small screens
@media (max-width: @screen-sm) {
    .content-header {
        left: 0;

        .breadcrumb {
            padding-left: 0;
            padding-right: 0;
        }
    }
}