/*
    Component: Menu
--------------------------
*/
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
        display: block;
        padding: 15px;
    }

    // Active states
    .active-menu > a, .opened > a {
        color: @sidebar-hover-color;
    }

    a:hover, .active-menu > a {
        background: @sidebar-hover-bg;
    }

    .active-menu > a {
        padding-left: 11px;
        border-left: 4px solid @brand-primary;
    }

    > li {
        position: relative;
        margin: 0;
        padding: 0;

        .menu-notification {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0.2em 0.4em 0.3em;
            margin: 16px;
        }
    }

    .treeview {
        .treeview-indicator {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            font-size: 13px;
            margin: 18px 0;
            color: @body-bg;
        }

        // Tree view menu
        .treeview-menu {
            text-align: left;
            background: lighten(@sidebar-bg, 2%);

            > ul {
                list-style: none;
                margin:0;
                padding: 0;
                > li {
                    margin: 0;
                    > a {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        margin: 0px;
                    }
                }
            }
        }

        &.opened {
            .treeview-indicator {
                color: @sidebar-hover-color;
            }
        }
    }
}

// Collapsed menu styles
.sidebar-menu.collapsed {
    > li {
        text-align: center;
        > a {
            padding: 10px;
        }

        &.active-menu > a {
            padding-left: 6px;
        }

        .menu-notification {
            font-size: 10px;
            margin: 5px 10px;
        }
    }

    .treeview {
        &.opened > a {
            background: @sidebar-hover-bg;
        }

        > a:hover, &.active-menu > a {
            > .treeview-indicator  {
                color: @sidebar-hover-color;
            }
        }

        .treeview-menu {
            position: absolute;
            top: 0px;
            left: @left-side-collapsed-width;
            z-index: 1000;
            box-shadow: none;
            border: none;
            white-space: nowrap;
            min-width: 200px;

            .treeview-header {
                color: @sidebar-hover-color;
                font-size: 19px;
                background: @sidebar-hover-bg;
                height: 100%;
                display: block;
                padding: 11px 15px;
            }
        }
    }
}