/*
    Component: Menu
--------------------------
*/
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid @sidebar-light-border;

    > li {
        position: relative;
        margin: 0;
        padding: 0;
        border-top: 1px solid @sidebar-light-border;
        border-bottom: 1px solid @sidebar-dark-border;

        > a {
            padding: 14px 15px 15px 15px;
            display: block;
        }

        // Hover and active states
        > a:hover, &.active-menu > a, &.opened > a {
            color: @sidebar-dark-font;
        }

        &.active-menu > a, &.opened > a {
            background: @sidebar-light-hover-bg;
        }

        &.active-menu > a {
            padding-left: 11px;
            border-left: 4px solid @light-blue;
        }

        .menu-notification {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0.2em 0.4em 0.3em;
            margin: 16px;
        }
    }

    .treeview {
        > a {
            > .treeview-indicator {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                font-size: 13px;
                margin: 18px 1px;
                opacity: 0.2;
            }
        }

        // Tree view menu
        .treeview-menu {
            text-align: left;
            background: darken(@sidebar-light-bg, 2%);
            border-top: 1px solid @sidebar-dark-border;
            .box-shadow(@sidebar-box-shadow);


            > ul {
                list-style: none;
                margin:0;
                padding: 0;
                > li {
                    margin: 0;
                    > a {
                        color: #777;
                        padding: 5px 15px;
                        padding-left: 35px;
                        display: block;
                        font-size: 14px;
                        margin: 0px;

                        &:hover {
                            color: #111;
                        }
                    }
                }
            }
        }

        &.opened {
            .treeview-indicator {
                opacity: 1;
            }
        }
    }
}

// Collapsed menu styles
.sidebar-menu.collapsed {
    > li {
        text-align: center;
        > a {
            padding: 10px;
        }

        &.active-menu > a {
            padding-left: 6px;
        }

        .menu-notification {
            font-size: 10px;
            margin: 5px 10px;
        }
    }

    .treeview {
        > a {
            > .treeview-indicator  {
                margin-right: 1px;
            }

            &:hover {
                > .treeview-indicator  {
                    color: @sidebar-dark-font;
                }
            }
        }

        .treeview-menu {
            position: absolute;
            top: -1px;
            left: @left-side-collapsed-width;
            z-index: 1000;
            background: @sidebar-light-bg;
            box-shadow: none;
            /*border: 1px solid @sidebar-dark-border;*/
            border: none;
            white-space: nowrap;
            min-width: 200px;

            .treeview-header {
                color: @sidebar-dark-font;
                font-size: 18px;
                background: @sidebar-light-hover-bg;
                height: 100%;
                display: block;
                padding: 12px 15px;
                border-bottom: 1px solid @sidebar-dark-border;
            }

            > ul {
                > li {
                    > a {
                        color: @sidebar-light-font;
                        padding: 8px 15px;

                        &:hover, &:focus {
                            color: @sidebar-dark-font;
                        }
                    }
                }
            }
        }
    }
}