<div class="sidebar-user" data-ng-class="{ 'collapsed': sidebarPanel.collapsed }">
    <a class="user-profile" href="#/user/profile">
        <img src="images/avatar3.png" class="image img-circle" alt="User Image" />

        <div class="info" data-ng-if="!sidebarPanel.collapsed">
            <p>Elorfin</p>
            <em>Administrator</em>
        </div>
    </a>

    <div class="user-options">
        <button type="button" class="btn">
            <i class="fa fa-fw fa-bell"></i>
            <span class="sr-only">Notifications</span>
        </button>

        <a class="btn" href="#/admin">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="sr-only">Options</span>
        </a>

        <button type="button" class="btn">
            <i class="fa fa-fw fa-sign-out"></i>
            <span class="sr-only">Sign out</span>
        </button>
    </div>
</div>