<div class="sidebar-search" data-ng-class="{ 'collapsed': sidebarPanel.collapsed }">
    <!-- Collapsed mode -->
    <button class="btn btn-link" role="button" data-ng-if="sidebarPanel.collapsed">
        <i class="fa fa-fw fa-search"></i>
        <span class="sr-only">Search</span>
    </button>

    <!-- Enlarged mode -->
    <form action="#" method="get" data-ng-if="!sidebarPanel.collapsed">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search" />
            <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn">
                    <i class="fa fa-search"></i>
                    <span class="sr-only">Search</span>
                </button>
            </span>
        </div>
    </form>
</div>