<div class="sidebar-user" data-ng-class="{ 'collapsed': sidebarPanel.collapsed }">
    <a class="user-profil" href="#">
        <div class="pull-left image">
            <img src="img/avatar3.png" class="img-circle" alt="User Image" />
        </div>

        <div class="pull-left info" data-ng-if="!sidebarPanel.collapsed">
            <p>Elorfin</p>
            <em>Administrator</em>
        </div>
    </a>

    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-default">
                <i class="fa fa-fw fa-sign-out"></i>
                <span class="sr-only"></span>
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default">
                <i class="fa fa-fw fa-wrench"></i>
                <span class="sr-only"></span>
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default">
                <i class="fa fa-fw fa-bell"></i>
                <span class="sr-only"></span>
            </button>
        </div>
    </div>
</div>