<header class="content-header">
    <div>
        <!-- Page title -->
        <h1>
            <i class="fa fa-fw fa-dashboard"></i>
            Dashboard
            <small>Control panel</small>
        </h1>

        <!-- Breadcrumb -->
        <ui-breadcrumb></ui-breadcrumb>
    </div>

    <menu class="content-nav">
        <li>
            <!-- Help Button -->
            <a href="#">
                <i class="fa fa-fw fa-info"></i>
                <span class="sr-only">Help</span>
            </a>
        </li>

        <li>
            <!-- Configuration Button -->
            <a href="#">
                <i class="fa fa-fw fa-cog"></i>
                <span class="sr-only">Configuration</span>
            </a>
        </li>
    </menu>
</header>