// Contains All variables
//-----------------------

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

// Layout
@header-height: 45px;

// Side bar and logo width
@left-side-width: 220px;
@left-side-collapsed-width: 60px;

// Colors
@light-blue: #3c8dbc; // Primary
@red:        #A94442; // Danger
@green:      #708f31; // Success
@aqua:       #31708F; // Info
@yellow:     #8f7031; // Warning
@blue:       #0c435e;
@navy:       #001F3F;
@teal:       #39CCCC;
@olive:      #3D9970;
@lime:       #01FF70;
@orange:     #FF851B;
@fuchsia:    #F012BE;
@purple:     rgba(112, 49, 143, 0.75);
@maroon:     rgba(143, 49, 112, 0.75);
@black:      #222222;

@text-shadow-base: 0 0 3px rgba(0, 0, 0, 0.6);

@box-shadow-base: none;

// Sidebar
@sidebar-bg:          @brand-default;
@sidebar-hover-bg:    rgba(0, 0, 0, 0.5);
@sidebar-color:       @gray-dark;
@sidebar-hover-color: @gray-darker;

@sidebar-light-bg: rgba(0, 0, 0, 0.5);
@sidebar-box-shadow: @box-shadow-base;

// BOXES
@box-box-shadow: @box-shadow-base;
@box-border-color: transparent;
@box-border-radius: 0px;
@box-header-bg: transparent;
@box-header-font: lighten(#808b9c, 20%);
@box-bg: @brand-default;
@box-font: #808b9c;
@box-footer-bg: transparent;
@box-footer-font: #808b9c;

// SMALL BOXES
@small-box-border-radius: @border-radius-base;
@small-box-box-shadow: @box-shadow-base;

// CHAT widget
@attachment-border-radius: @border-radius-base;

@alert-box-shadow: @box-shadow-base;

@btn-box-shadow: @box-shadow-base;

@sortable-box-shadow: @box-shadow-base;

@dropdown-box-shadow: @box-shadow-base;

@modal-box-shadow: @box-shadow-base;