.form-task {
  padding: 4px;
}

.list-tasks {
    > li {
        vertical-align: middle;
        .info {
          padding-top: @padding-base-vertical;
          padding-bottom: @padding-base-vertical;
        }
        .btn-done {
            padding: 0;
            margin-right: 5px;
            color: darken(@gray-dark, 50%);
            vertical-align: middle;
            border: none;

            &:hover {
                color: lighten(@gray, 50%);
            }

            &:focus {
                color: @gray-dark;
            }
        }

        &.task-done {
            .info {
              text-decoration: line-through;
              color: darken(@gray-dark, 50%) !important;
            }

            .btn-done {
              color: @brand-primary;

              &:hover, &:focus {
                color: @brand-primary;
              }
            }
        }
    }
}