<form role="form">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="taskEditCtrl.task.name" />
            </div>
        </div>
    </div>

    <div class="pull-right">
        <button type="submit" class="btn btn-primary" data-ng-click="taskEditCtrl.save()">
            <span class="fa fa-check-circle-o"></span>
            {{ taskEditCtrl.task._id ? 'Edit' : 'Create' }}
        </button>
        <button type="button" class="btn btn-default" data-ng-click="taskEditCtrl.cancel()">
            <span class="fa fa-times-circle-o"></span>
            Cancel
        </button>
    </div>
</form>