<div class="row">
    <div class="info col-md-10 col-sm-10">
        <button type="button" class="btn btn-link btn-done" data-ng-click="taskCtrl.toggleDownStatus(task)">
            <span class="fa fa-lg fa-check"></span>
            <span class="sr-only">Mark as down</span>
        </button>
        {{ task.name }} ({{ task.position }})
    </div>

    <!-- General tools such as edit or delete-->
    <div class="col-md-2 col-sm-2 text-right" role="button">
        <button class="btn btn-default" data-ng-click="taskCtrl.edit(task)">
            <span class="fa fa-pencil"></span>
            <span class="sr-only">Edit task</span>
        </button>

        <button class="btn btn-default" role="button" data-ng-click="taskCtrl.delete(task)">
            <span class="fa fa-trash-o"></span>
            <span class="sr-only">Delete task</span>
        </button>
    </div>
</div>