/*
    Core: General style
----------------------------
*/

html, body {
    position: relative;
    overflow: hidden!important;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    background: @body-bg;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: @text-shadow-base;
}

a:focus,
button:focus,
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus,
.btn:focus{
  outline: none !important;
}

/* Layouts */
.wrapper {
    height: 100%;
    .clearfix();
}

/* Header */
body > .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

/* Content */
.content {
    padding: 0 floor(@grid-gutter-width / 2);
    overflow: auto;
}

/* Utility */

/* Page Header */
.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
  
    > small {
        color: @gray-dark;
        font-weight: 100;
        margin-top: 5px;
    }
}

/* All images should be responsive */
img {
    max-width: 100% !important;
}

.sort-highlight {
    background: #f4f4f4;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
}

/* Display inline */
.inline {
    display: inline;
    width: auto;
}

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange ,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
    color: #f9f9f9 !important;
}
.bg-gray {
    background-color: @gray!important;
}
.bg-black {
    background-color: @black!important;
}
.bg-red {
    background-color: @brand-danger !important;
}
.bg-yellow {
    background-color: @brand-warning !important;
}
.bg-aqua {
    background-color: @brand-info !important;
}
.bg-blue {
    background-color: @brand-primary !important;
}
.bg-light-blue {
    background-color: @light-blue !important;
}
.bg-green {
    background-color: @brand-success !important;
}
.bg-navy {
    background-color: @navy !important;
}
.bg-teal {
    background-color: @teal !important;
}
.bg-olive {
    background-color: @olive !important;
}
.bg-orange {
    background-color: @orange !important;
}
.bg-fuchsia {
    background-color: @fuchsia !important;
}
.bg-purple {
    background-color: @purple !important;
}
.bg-maroon {
    background-color: @maroon !important;
}

/* Text colors */
.text-danger {
    color: @brand-danger !important;
}
.text-warning {
    color: @brand-warning !important;
}
.text-info {
    color: @brand-info !important;
}
.text-primary {
    color: @brand-primary !important;
}
.text-black {
    color: @black!important;
}
.text-light-blue {
    color: @light-blue !important;
}
.text-green {
    color: @green !important;
}
.text-navy {
    color: @navy !important;
}
.text-teal {
    color: @teal !important;
}
.text-olive {
    color: @olive !important;
}
.text-orange {
    color: @orange !important;
}
.text-fuchsia {
    color: @fuchsia !important;
}
.text-purple {
    color: @purple !important;
}
.text-maroon {
    color: @maroon !important;
}

/* Remove borders */
.no-border {
    border: 0px !important;
}
/* Remove padding */
.no-padding {
    padding: 0px !important;
}
/* Remove margins */
.no-margin {
    margin: 0px !important;
}

.connectedSortable {
    min-height: 100px;
}