<div class="list-group">
    <a href="#" class="list-group-item">
        <span class="fa fa-fw fa-sliders"></span>
        General parameters
        <em class="pull-right hidden-xs">Set up your general parameters </em>
    </a>

    <a href="#" class="list-group-item">
        <span class="fa fa-fw fa-users"></span>
        Users
        <em class="pull-right hidden-xs">Manage authorized Users in your application</em>
    </a>

    <a href="#" class="list-group-item">
        <span class="fa fa-fw fa-info"></span>
        Help
        <em class="pull-right hidden-xs">Configure which help tools you want to enable</em>
    </a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item">
        <span class="fa fa-fw fa-bell"></span>
        Notification Center
    </a>

    <a href="#" class="list-group-item">
        <span class="fa fa-fw fa-dashboard"></span>
        Dashboard
    </a>

    <a href="#" class="list-group-item">
        <span class="fa fa-fw fa-money"></span>
        Budget
    </a>
</div>