<header class="content-header">
    <i class="fa fa-2x fa-{{ info.icon }}" data-ng-if="info.icon"></i>

    <ol class="breadcrumb">
        <!-- Parent elements -->
        <li data-ng-repeat="item in path">
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>

        <!-- Current page -->
        <li class="active">{{ info.title }}</li>
    </ol>

    <div class="header-btns">
        <!-- Help Button -->
        <button class="btn btn-default" role="button" data-ng-if="info.help">
            <i class="fa fa-fw fa-info"></i>
            <span class="sr-only">Help</span>
        </button>

        <!-- Configuration Button -->
        <button class="btn btn-default" role="button" data-ng-if="info.config">
            <i class="fa fa-fw fa-cog"></i>
            <span class="sr-only">Configuration</span>
        </button>
    </div>
</header>