<header class="content-header">
    <i class="fa fa-2x fa-{{ info.icon }}" data-ng-if="info.icon"></i>

    <ol class="breadcrumb">
        <!-- Parent elements -->
        <li data-ng-repeat="item in path">
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>

        <!-- Current page -->
        <li class="active">{{ info.title }}</li>
    </ol>

    <div class="header-btns" data-ng-if="buttons && buttons.length !== 0">
        <a data-ng-repeat="button in buttons" href="{{ button.url }}" data-ng-click="buttonClick(button)" class="btn btn-default" role="button">
            <span class="fa fa-fw fa-{{ button.icon }}" data-ng-if="button.icon"></span>
            <span data-ng-class="{ 'sr-only': button.iconOnly }" data-ng-if="button.label">{{ button.label }}</span>
        </a>
    </div>
</header>