<header class="content-header">
    <!-- Page title -->
    <h1>
        <i class="fa fa-fw fa-{{ info.icon }}" data-ng-if="info.icon"></i>
        {{ info.title }}
        <small data-ng-if="info.description">{{ info.description }}</small>
    </h1>

    <div class="header-btns">
        <!-- Breadcrumb -->
        <ui-breadcrumb></ui-breadcrumb>

        <!-- Help Button -->
        <button class="btn btn-default" role="button" data-ng-if="info.help">
            <i class="fa fa-fw fa-info"></i>
            <span class="sr-only">Help</span>
        </button>

        <!-- Configuration Button -->
        <button class="btn btn-default" role="button" data-ng-if="info.config">
            <i class="fa fa-fw fa-cog"></i>
            <span class="sr-only">Configuration</span>
        </button>
    </div>
</header>